@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  /* Primary */
  --Light-red-CTA-text: hsl(356, 100%, 66%);
  --Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
  --Very-dark-blue-headings: hsl(208, 49%, 24%);

  /* Neutral */
  --White-text: hsl(0, 0%, 100%);
  --White-text-lighter: hsl(0, 0%, 100%, 0.7);
  --Grayish-blue-footer-text: hsl(240, 2%, 79%);
  --Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
  --Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);

  /* Background gradient - Intro/CTA mobile nav: */
  --Very-light-red: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);

  /* Background gradient - body: */
  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);

  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  color: var(--White-text);
  font-family: "Overpass", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

header,
section,
footer {
  padding: 0 10%;
}

h2,
h3,
p {
  color: var(--Very-dark-blue-headings);
}

.main-section {
  display: flex;
  flex-direction: column;
  height: 120vh;
  position: relative;
  overflow: hidden;
  margin: 5% 0;
}

.main-section > :nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 25%;
}
.main-section > :nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 75%;
}

.main-section.extra > :nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 20%;
}
.main-section.extra > :nth-child(2) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 80%;
}

.container-primary > * {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.text-content > * {
  display: flex;
  flex-direction: column;
}

.text-content h3 {
  margin-bottom: 2%;
  font-size: 250%;
}

.text-content p {
  font-size: 150%;
}

.text-content > :nth-child(2) {
  margin-top: 30%;
}

.container-middle h2,
.container-middle p {
  color: var(--White-text);
}

.headings {
  text-align: center;
}

.split {
  display: flex;
}

.split > * {
  flex-basis: 100%;
}

/* -------------------------------------------------------------------------Header */

.overlay {
  position: absolute;
  background: linear-gradient(var(--Very-light-red), var(--Light-red));
  height: 80vh;
  width: 100%;
  z-index: -1;
  border-bottom-left-radius: 10rem;
}

#hamburger {
  display: none;
  position: absolute;
  height: 5em;
  width: 5em;
  right: 0;
  margin: 20% auto;
  background: url(../images/icon-hamburger.svg);
  background-repeat: no-repeat;
}

header {
  background: url(../images/bg-pattern-intro.svg);
  background-position: 10% 50%;
  background-repeat: no-repeat;
  background-size: 155%;
  display: flex;
  flex-direction: column;
  height: 80vh;
  border-bottom-left-radius: 10rem;
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header > :nth-child(1) {
  flex: 1 1 40%;
}

header > :nth-child(3) {
  flex: 1 1 60%;
}

header h1 {
  font-size: 550%;
}

header p {
  margin-top: 1.2em;
  font-size: 190%;
  color: var(--White-text-lighter);
}

.main-menu,
.footer-menu {
  display: flex;
  width: 100%;
}

.nav-links {
  display: flex;
  flex-grow: 1;
  align-items: center;
}

.main-menu > li,
.footer-menu li {
  font-size: 125%;
  color: var(--White-text-lighter);
  display: flex;
  align-items: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.main-menu > li:nth-of-type(1),
.main-menu > li:nth-of-type(2),
.main-menu > li:nth-of-type(3) {
  margin-left: 5%;
}

.main-menu > li:nth-of-type(1):hover,
.main-menu > li:nth-of-type(2):hover,
.main-menu > li:nth-of-type(3):hover,
.main-menu > li:nth-of-type(1):focus,
.main-menu > li:nth-of-type(2):focus,
.main-menu > li:nth-of-type(3):focus {
  cursor: pointer;
  text-decoration: underline;
  color: var(--White-text);
}

.main-menu > li:nth-of-type(1) svg,
.main-menu > li:nth-of-type(2) svg,
.main-menu > li:nth-of-type(3) svg {
  transition: 500ms ease-in;
}

.main-menu > li:nth-of-type(1):hover svg,
.main-menu > li:nth-of-type(2):hover svg,
.main-menu > li:nth-of-type(3):hover svg,
.main-menu > li:nth-of-type(1):focus svg,
.main-menu > li:nth-of-type(2):focus svg,
.main-menu > li:nth-of-type(3):focus svg {
  transition: 500ms ease-in;
  transform: rotate(180deg);
}

.main-menu > li:nth-of-type(3) {
  margin-right: auto;
}

.main-menu > li:nth-of-type(4) {
  margin-left: auto;
}
.main-menu > li:nth-of-type(5) {
  margin-left: 5%;
}

.main-menu > li:nth-of-type(5):hover,
.main-menu > li:nth-of-type(5):focus,
.call-to-action > :nth-child(1):hover,
.call-to-action > :nth-child(1):focus {
  cursor: pointer;
  color: var(--White-text);
  background: var(--Very-light-red-CTA-hover-background);
}

.call-to-action > :nth-child(2):hover,
.call-to-action > :nth-child(2):focus {
  cursor: pointer;
  background: var(--White-text);
  color: var(--Light-red);
}

.main-menu svg {
  margin-left: 0.5rem;
}

.call-to-action {
  display: flex;
  justify-content: space-around;
  width: 30em;
  margin-top: 5em;
}

.call-to-action > :nth-child(2) {
  border: 1px solid var(--White-text);
}

.call-to-action button,
.main-menu > li:nth-of-type(5) {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  width: 10em;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
}

.call-to-action > :nth-child(1),
.main-menu > li:nth-of-type(5) {
  background: var(--White-text);
  color: var(--Light-red);
}

/* -------------------------------------------------------------------------Main section one */

.main-section .headings {
  font-size: 300%;
}

.img-background-section {
  position: absolute;
  background: url(../images/illustration-editor-desktop.svg);
  background-repeat: no-repeat;
  background-size: 65%;
  height: 100%;
  width: 100%;
  top: 0;
  left: 54%;
  z-index: -1;
}

/* -------------------------------------------------------------------------Middle section */

.overlay-middle {
  position: absolute;
  background: linear-gradient(
    var(--Very-dark-gray-blue),
    var(--Very-dark-desaturated-blue)
  );
  height: 35vh;
  width: 100%;
  z-index: -1;
  border-bottom-left-radius: 8rem;
  border-top-right-radius: 8rem;
}

.img-background-section-three {
  position: absolute;
  background: url(../images/illustration-phones.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 50vh;
  width: 40vw;
  top: -5rem;
  left: 10%;
}

.middle-section {
  background: url(../images/bg-pattern-circles.svg);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: -75% 85%;
  width: 100%;
  position: relative;
  height: 35vh;
  border-bottom-left-radius: 8rem;
  border-top-right-radius: 8rem;
}

.middle-section .text-content {
  margin-top: 8%;
}

.middle-section h2 {
  font-size: 300%;
}

.middle-section p {
  font-size: 150%;
}

/* -------------------------------------------------------------------------Main section two */

.img-background-section-two {
  position: absolute;
  background: url(../images/illustration-laptop-desktop.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  height: 100%;
  width: 100%;
  top: 0;
  right: 20%;
  z-index: -1;
}

.extra {
  margin: 10% 0;
}

/* -------------------------------------------------------------------------Footer */

footer {
  background: var(--Very-dark-black-blue-footer-background);
  display: flex;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-top-right-radius: 8rem;
}

.list-header ul,
.list-header ul li {
  margin-top: 2rem;
  color: var(--White-text-lighter);
}

.footer-menu li {
  margin-left: 0;
  flex-direction: column;
  align-items: flex-start;
  color: var(--White-text);
  margin-right: 25%;
}

.footer-menu li ul li:hover,
.footer-menu li ul li:focus {
  cursor: pointer;
  text-decoration: underline;
}

footer > :nth-child(1) {
  flex: 1 1 25%;
}

footer > :nth-child(2) {
  flex: 1 1 75%;
}

/* ----------------------------------------------------------Sub Menu */

.main-menu li {
  position: relative;
}

.sub-menu {
  width: 200%;
  position: absolute;
  display: none;
  top: 100%;
  left: -25%;
  list-style: none;
}

.main-menu li:hover .sub-menu,
.main-menu li:focus .sub-menu {
  padding: 25% 50% 25% 25%;
  background: var(--White-text);
  color: black;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.sub-menu li {
  color: black;
  margin-bottom: 10%;
  padding-right: 50%;
}

.sub-menu li:hover,
.sub-menu li:focus {
  font-weight: 700;
}

/* ---------------------------------------------------- Media Queries */

@media (max-width: 400px) {
  header,
  section,
  footer {
    padding: 0 5%;
  }

  header,
  .overlay {
    height: 100vh;
  }

  #hamburger {
    display: block;
  }

  header {
    background-position: 35% 25%;
    background-size: 400%;
  }

  header > :nth-child(1) {
    flex: 1 1 20%;
  }

  .nav-links,
  .main-menu,
  .main-menu li {
    flex-direction: column;
    align-items: flex-start;
  }

  .main-menu {
    position: absolute;
    top: 25%;
    right: 5%;
    left: 5%;
    margin: 0 auto;
    width: 75%;
    height: 70%;
    background: var(--White-text);
    display: none;
  }

  .main-menu > li:nth-child(1),
  .main-menu > li:nth-child(2),
  .main-menu > li:nth-child(3),
  .main-menu > li:nth-child(4) {
    color: var(--Very-dark-blue-headings);
    margin: 3% auto;
  }

  .main-menu > li:nth-child(5) {
    background: linear-gradient(var(--Very-light-red), var(--Light-red));
    color: var(--White-text);
    margin: 0 auto 10%;
  }

  .main-menu > li:nth-child(1) {
    margin-top: 10%;
  }

  .main-menu > li:nth-child(3) {
    margin-bottom: auto;
  }
  .main-menu > li:nth-child(4) {
    margin-top: auto;
    margin-bottom: 5%;
  }

  .main-menu li:hover .sub-menu,
  .main-menu li:focus .sub-menu {
    align-items: center;
    left: -150%;
    padding: 25% 0;
    background-color: lightgrey;
    width: 400%;
  }

  .sub-menu li {
    color: hsl(208deg 49% 24% / 50%);
    padding: 0;
    margin-bottom: 5%;
  }

  .main-menu li:nth-child(1):hover .sub-menu {
    top: 500%;
  }
  .main-menu li:nth-child(2):hover .sub-menu {
    top: 400%;
  }
  .main-menu li:nth-child(3):hover .sub-menu {
    top: 300%;
  }

  .main-menu > li:nth-of-type(1):hover,
  .main-menu > li:nth-of-type(2):hover,
  .main-menu > li:nth-of-type(3):hover,
  .main-menu > li:nth-of-type(1):focus,
  .main-menu > li:nth-of-type(2):focus,
  .main-menu > li:nth-of-type(3):focus {
    color: hsl(208deg 49% 24% / 50%);
    text-decoration: none;
  }

  .main-menu > li:nth-child(4)::before {
    content: "";
    position: absolute;
    height: 0.075em;
    width: 600%;
    left: -250%;
    top: -100%;
    background: lightgray;
  }

  header h1 {
    font-size: 5ch;
  }

  header p {
    font-size: 150%;
  }

  .main-section {
    height: auto;
    margin: 0;
  }

  .main-section .headings {
    margin-top: 10vh;
    font-size: 3ch;
  }

  .split {
    flex-direction: column;
  }

  .text-content > * {
    margin-top: 50vh;
    text-align: center;
  }

  .text-content:nth-child(1) {
    margin-top: 5vh;
  }

  .text-content h3 {
    margin: 2vh auto;
    max-width: 75%;
  }

  .img-background-section {
    background: url(../images/illustration-editor-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 20vh;
    margin-bottom: 20vh;
    left: 0;
    right: 0;
  }

  .img-background-section-three {
    top: -25vh;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100vw;
  }

  .middle-section {
    background-size: 150%;
    background-position: 50% -200%;
    height: 100vh;
    margin-top: 40vh;
  }

  .overlay-middle {
    height: 100vh;
    margin-top: 40vh;
  }

  .container-middle .text-content > * {
    margin-top: 75%;
  }

  .img-background-section-two {
    background: url(../images/illustration-laptop-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 20vh;
    margin-bottom: 20vh;
    left: 0;
    right: 0;
  }

  .extra {
    margin-bottom: 25%;
  }

  .logo {
    margin-top: 20%;
  }

  footer,
  .footer-menu {
    flex-direction: column;
    align-items: center;
  }

  .footer-menu > li {
    font-size: 200%;
    margin-top: 50%;
  }
  .footer-menu > li:nth-child(3) > ul > li:nth-child(3) {
    margin-bottom: 100%;
  }

  .footer-menu li {
    align-items: center;
    margin-right: 0;
  }

  .list-header li {
    font-size: 75%;
  }
}

.flex-addition {
  display: flex;
}
